.os-theme-smockify.os-scrollbar-vertical {
  /* // The size of the scrollbar */
  --os-size: 12px;
  /* // The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x) */
  --os-padding-perpendicular: 0;
  /* // The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y) */
  --os-padding-axis: 0;
  /* // The border radius of the scrollbar track */
  --os-track-border-radius: 0;
  /* // The background of the scrollbar track */
  --os-track-bg: none;
  /* // The :hover background of the scrollbar track */
  --os-track-bg-hover: none;
  /* // The :active background of the scrollbar track */
  --os-track-bg-active: none;
  /* // The border of the scrollbar track */
  --os-track-border: none;
  /* // The :hover background of the scrollbar track */
  --os-track-border-hover: none;
  /* // The :active background of the scrollbar track */
  --os-track-border-active: none;
  /* // The border radius of the scrollbar handle */
  --os-handle-border-radius: 0;
  /* // The background of the scrollbar handle */
  --os-handle-bg: hsla(0,0%,100%,.3);
  /* // The :hover background of the scrollbar handle */
  --os-handle-bg-hover: hsla(0,0%,100%,.5);
  /* // The :active background of the scrollbar handle */
  --os-handle-bg-active: hsla(0,0%,100%,.7);
  /* // The border of the scrollbar handle */
  --os-handle-border: none;
  /* // The :hover border of the scrollbar handle */
  --os-handle-border-hover: none;
  /* // The :active border of the scrollbar handle */
  --os-handle-border-active: none;
  /* // The min size of the scrollbar handle */
  --os-handle-min-size: 33px;
  /* // The max size of the scrollbar handle */
  --os-handle-max-size: none;
  /* // The axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size: 100%;
  /* // The :hover axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size-hover: 100%;
  /* // The :active axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size-active: 100%;
  /* // Increases the interactive area of the scrollbar handle. */
  --os-handle-interactive-area-offset: 0;
}